{% extends 'base.html' %}

{% block title %}Category - FunFlex {% endblock %}

{% block content %}
    <div class="category-container">
        <h1 class="category-title">Anime Categories</h1>
        <div class="category-grid">
            {% for category in categories %}
                <div class="category-card">
                    <a href="{% url 'home' %}?category={{ category.name }}" class="category-link">
                        <h2 class="category-name">{{ category.name }}</h2>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
